/**
 * Copyright © 2019 Alexandre Borela <alexandre@borela.tech>
 *
 * NOTICE: All information contained herein is, and remains the property of
 * Alexandre Borela and his suppliers, if any. The intellectual and technical
 * concepts contained herein are proprietary to Alexandre Borela and his
 * suppliers and may be covered by patents, patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Alexandre Borela.
 */

html {
  font-family: verdana, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.fragment {
  pointer-events: all;
}

.reveal > .slides > section {
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
