/**
 * Copyright © 2019 Alexandre Borela <alexandre@borela.tech>
 *
 * NOTICE: All information contained herein is, and remains the property of
 * Alexandre Borela and his suppliers, if any. The intellectual and technical
 * concepts contained herein are proprietary to Alexandre Borela and his
 * suppliers and may be covered by patents, patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Alexandre Borela.
 */

#contact {
  pointer-events: all;
}

#contact a {
  color: white;
  text-decoration: underline;
}

#contact p {
  font-size: .75em;
}

#contact hr {
  background-color: white;
  height: 1px;
  margin: 1em;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

#contactForm label {
  color: white;
  font-size: .75em;
  margin-bottom: .75em;
  text-align: left;
}

#contactForm input,
#contactForm textarea {
  background-color: #101010;
  border: none;
  caret-color: #f26f00;
  color: white;
  font-size: .75em;
  margin-bottom: 1em;
  padding: .3em;
}

#contactForm textarea {
  min-height: 10em;
}

#contactForm input:last-child {
  margin-bottom: 0;
}
