/**
 * Copyright © 2019 Alexandre Borela <alexandre@borela.tech>
 *
 * NOTICE: All information contained herein is, and remains the property of
 * Alexandre Borela and his suppliers, if any. The intellectual and technical
 * concepts contained herein are proprietary to Alexandre Borela and his
 * suppliers and may be covered by patents, patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Alexandre Borela.
 */

#header {
  background-color: #f26f00;
}

#header-content {
  align-items: stretch;
  display: flex;
  margin: .2em auto;
  max-width: 60em;
}

#header .logo {
  height: 2em;
  margin: auto 2em auto 0;
}

#header nav > * {
  color: white;
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  padding: 1.3em;
  text-transform: uppercase;
}

#dropdown h1 {
  font-size: 1em;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f26f00;
  box-shadow:
    0px 3px 3px rgba(232, 62, 12, .5),
    0px 0px 60px rgba(232, 62, 12, .3);
  width: 10em;
  margin: 1em 0 0 -1.3em;
  z-index: 9999999;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#dropdown-content a {
  color: white;
  display: block;
  font-size: .9em;
  padding: .9em 1.2em;
  transition: background .3s linear;
}

#dropdown-content a:hover {
  background: #ea4c1e;
  transition: none;
}

#langMenu {
  margin-left: auto;
}

#langMenu span {
  background: #ea4c1e;
  color: white;
  cursor: pointer;
  font-size: .725em;
  font-weight: bold;
  padding: .4em 1em;
  position: relative;
  text-transform: uppercase;
}

#langMenu span:not(:first-child) {
  margin-left: .4em;
}

#langMenu span:hover {
  color: white;
  background-color: #db072c;
}

#langMenu span.selected {
  color: #db072c;
  background-color: white;
  z-index: 1;
}
